:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196F3;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
  margin-right: 93px;
}

.logo__web {
  color: #2196F3;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #FFF;
}

.social__icon {
  fill: currentColor;
}

.twitter {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.facebook {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.instagram {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.linkedin {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  display: flex;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__field:not(:last-child) {
  padding-bottom: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  padding-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 10px;
  resize: none;
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 2px solid #000000;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__term:checked + .modal-form__check-desc::before {
  background-image: url(../images/icons/check.svg);
  background-position: center;
}

.modal-form__term:focus + .modal-form__check-desc::before {
  box-shadow: 0 0 0 1px var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  outline: none;
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form__btn {
  align-self: center;
  min-width: 200px;
  padding: 10px 20px;
  background: var(--accent-color);
  border-radius: 4px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188CE8;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  transform: translateY(-150%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

/*.mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}  */
.mobile-menu.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__item {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link-current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu__btn:hover {
  fill: var(--accent-color);
  outline: none;
}

.mobile-menu__btn-icon {
  display: block;
}

.mobile-contacts__list {
  margin-top: 302px;
}

.mobile-contacts__item:first-child a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social__list {
  display: flex;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-social__link {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:last-child {
  border-right: none;
}

.mobile-social__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px;
  color: #ECECEC;
}

.navigation__list {
  display: none;
}

.information__list {
  display: none;
}

.burger__btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.burger__btn:hover {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .burger__btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    margin-left: auto;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__item .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    background: #2196F3;
    border-radius: 2px;
  }
  .navigation__studio-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .navigation__studio-link:hover, .navigation__studio-link:focus {
    color: var(--accent-color);
  }
  .list .navigation__studio-link.current {
    color: var(--accent-color);
  }
  .navigation__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
  .information__list {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    flex-direction: column;
  }
  .information__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .information__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .information__link:hover, .information__link:focus {
    color: #2196F3;
  }
  .information__icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px;
    color: #ECECEC;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    display: flex;
  }
  .navigation__list {
    display: flex;
    align-items: center;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__item .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -38px;
    background: #2196F3;
    border-radius: 2px;
  }
  .navigation__studio-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .navigation__studio-link:hover, .navigation__studio-link:focus {
    color: var(--accent-color);
  }
  .list .navigation__studio-link.current {
    color: var(--accent-color);
  }
  .navigation__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
  .information__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: row;
  }
  .information__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .information__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .information__link:hover, .information__link:focus {
    color: #2196F3;
  }
  .information__icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.hero__btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFF;
  background-color: #2196F3;
  padding: 10px 32px;
  min-width: 200px;
  left: 700px;
  top: 430px;
  margin: auto;
  border-radius: 4px;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: url("../images/bg/hero-mobile@2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 360px;
  }
  .hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 118px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/hero-tablet.jpg");
    min-height: 400px;
    max-width: 765px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: url("../images/bg/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
  .hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 118px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: url("../images/bg/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  .hero__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*
.hero__section {
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(/images/bg/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    max-width: 1600px;
    margin: 0 auto;
}

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero__title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 696px;
    color: #FFFFFF;  
}

.hero__btn {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em; 
    cursor: pointer;
    color: #FFF;
    background-color: #2196F3;
    padding: 10px 32px;
    min-width: 200px;
    left: 700px;
    top: 430px;    
    margin: auto;
    border-radius: 4px;
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
.skills__container {
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.skills__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  min-width: 100%;
}

.skills__set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.skills__list {
  justify-content: center;
  margin: 15px;
}

.skills__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}

.skills__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .skills__list {
    flex-basis: calc((100% / 2 - 30px));
  }
  .skills__title {
    text-align: start;
  }
  .section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    display: flex;
    justify-content: center;
  }
  .skills__set {
    display: flex;
    justify-content: space-between;
  }
  .skills__list {
    flex-basis: calc((100% / 4 - 30px));
  }
  .skills__box {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
}

/*
.skills__container {
    display: flex;
}

.skills__set {
    display: flex;
    justify-content: space-between;
}

.skills__list:not(:last-child) {
    margin-right: 30px;
}

.skills__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.skills__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #212121;
}

.skills__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}  */
.activities {
  display: none;
}

@media screen and (min-width: 768px) {
  .activities {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activities {
    display: flex;
    justify-content: space-around;
    padding-bottom: 94px;
  }
  .activities__list {
    display: flex;
  }
  .activities__item {
    position: relative;
  }
  .activities__item:not(:last-child) {
    margin-right: 30px;
  }
  .activities__text {
    position: absolute;
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    color: #FFF;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__box {
  padding: 30px 32px;
}

.team__title {
  color: #212121;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.18;
  padding-top: 30px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

.team .social__list {
  display: flex;
  margin-bottom: 24px;
  max-width: 206px;
  /* justify-content: space-between;
    padding-left: 122px;
    padding-right: 122px;
    margin-left: 0px;*/
  align-items: center;
  margin: 0 auto;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__box {
    padding: 30px 32px;
  }
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
  }
  .team__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15.9298px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    color: #212121;
  }
  .team__text {
    padding-top: 10px;
  }
  .team .social__list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    justify-content: space-around;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__item {
    background-color: #FFF;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__box {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .team__title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }
  .team__text {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .team .social__list {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.clients {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
}

.clients__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  margin-top: 30px;
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  width: 210px;
  height: 90px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__title {
  font-size: 28px;
  line-height: 1.18;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .clients__link {
    width: 226px;
    height: 90px;
  }
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
  .clients__item:first-child {
    margin-right: 0;
    margin-left: 0;
  }
  .clients__link {
    width: 170px;
  }
  .clients__list {
    margin-left: 0;
  }
}

/*.clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    color: #AFB1B8;
    cursor: pointer;
    transition:
       border-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
        }    
}

.clients__icon {
    fill: currentColor;
    transition: fill 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);

        .clients__link:hover &,
        .clients__link:focus & {
            fill: var(--accent-color);
        }    
}*/
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-box__logo {
  display: flex;
  flex-direction: column;
  display: block;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.address__item {
  margin-bottom: 9px;
  text-align: center;
}

.address__map {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address__link {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.footer-social__container {
  margin-bottom: 60px;
  margin-top: 60px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 206px;
  height: 44px;
}

.footer__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  color: #FFF;
}

.footer__icon {
  fill: currentColor;
}

.footer-form__container {
  display: flex;
  flex-direction: column;
  width: 765px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__mail-input {
  height: 50px;
  width: 460px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.footer__mail-input:focus {
  outline: none;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-form__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer-box {
    margin-bottom: 0;
  }
  .footer-social__container {
    display: flex;
    flex-direction: column;
    width: 206px;
  }
  .footer-form__container {
    display: flex;
    flex-direction: column;
    width: 765px;
    margin-top: 30px;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__mail-input {
    height: 50px;
    width: 460px;
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
  }
  .footer__mail-input:focus {
    outline: none;
  }
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
  .footer-form__icon {
    margin-left: 10px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 206px;
    height: 44px;
  }
  .footer-box__logo {
    display: flex;
    flex-direction: column;
    display: block;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
  }
  .address__item {
    margin-bottom: 9px;
  }
  .address__map {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .address__link {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 206px;
    height: 44px;
  }
  .footer__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  .footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__link:hover, .footer__link:focus {
    background-color: var(--accent-color);
    color: #FFF;
  }
  .footer__icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .footer-box {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer-box__logo {
    display: flex;
    flex-direction: column;
    display: block;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
  }
  .address__item {
    margin-bottom: 9px;
  }
  .address__map {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .address__link {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-social__container {
    display: flex;
    flex-direction: column;
    width: 206px;
    margin-left: 70px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 206px;
    height: 44px;
  }
  .footer__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: start;
  }
  .footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__link:hover, .footer__link:focus {
    background-color: var(--accent-color);
    color: #FFF;
  }
  .footer__icon {
    fill: currentColor;
  }
  .footer-form__container {
    display: flex;
    flex-direction: column;
    width: 570px;
    margin-left: 93px;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
  }
  .footer__mail-input {
    height: 50px;
    width: 358px;
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
  }
  .footer__mail-input:focus {
    outline: none;
  }
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
  .footer-form__icon {
    margin-left: 10px;
  }
}

/*.footer__container {
    display: flex;
    align-items: baseline;
}

.footer-box__logo {
    display: flex;
    flex-direction: column;
    display: block;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
}

.address__item {
    margin-bottom: 9px;
}

.address__map {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.address__link {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-social__container {
    display: flex;
    flex-direction: column;
    width: 206px;
    margin-left: 70px;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 206px;
    height: 44px;
}

.footer__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: #FFF;
        }    
}

.footer__icon {
    fill: currentColor;
}

.footer-form__container {
    display: flex;
    flex-direction: column;
    width: 570px;
    margin-left: 93px;
}

.footer-form {
    display: flex;
}

.footer__mail-input {
    height: 50px;
    width: 358px;
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;

    &:focus {
        outline: none;
   }
}        

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-form__icon {
    margin-left: 10px;
} */
.menu-nav {
  background-color: #ffffff;
  padding-top: 60px;
  margin: 0 auto;
}

/* --- filter---*/
.filters__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.filters__item {
  display: inline-block;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color, outline, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(196, 172, 172, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 60px;
}

.projects__item {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__overlay-box {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  pointer-events: none;
  color: #ffffff;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__box {
  padding: 20px 24px 20px 24px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .filters__item:nth-child(n + 4) {
    margin-bottom: 0;
  }
  .projects__item {
    flex-basis: calc(100% - 30px);
  }
}

@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
    margin-bottom: 30px;
  }
  .projects__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .menu-nav {
    padding-top: 94px;
  }
  .filters__list {
    margin-bottom: 50px;
  }
  .projects__list {
    padding-bottom: 94px;
  }
  .projects__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

/*
.menu-nav {
    text-align: center;
}

.filters__list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
}

.filters__item {
    min-width: 73px;

    
   &:not(:last-child) {
       margin-right: 8px;
   }
}

.filters__btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    color: #212121;
    border: none;
    border-radius: 4px;
    background: #F5F4FA;
    transition: background-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: #fff;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }    
}

.projects__list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.projects__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    &:hover,
    &:focus {
       background: #FFFFFF;
       box-sizing: border-box;
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
       cursor: pointer;  
    }
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(-100%);
}

.projects__overlay {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    text-align: start;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;*/
/*overflow: scroll;*/
/*  transform: translateY(100%);
    transition: transform 250ms 
                cubic-bezier(0.4, 0, 0.2, 1);

        .projects__item:hover &,
         .projects__item:focus & {
            transform: translateY(0%);
        }        
}

.projects__overlay-box {
    position: relative;
    overflow: hidden;
}

.projects__box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.projects__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: start;
    color: #212121; 
}

.projects__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: start;
    color: #757575;    
}*/
/*# sourceMappingURL=main.css.map */