.header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px;
    color: #ECECEC;
}

.navigation__list {
    display: none;
}

.information__list {
    display: none;
}

.burger__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
      &:hover {
      fill: var(--accent-color);
      outline: none;
    }
  }

@media screen and (min-width: 768px) {
    .burger__btn {
      display: none;
    }
  
    .mobile-menu {
      display: none;
    }
  
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 21px;
        padding-bottom: 21px;
        border-bottom: 1px solid rgba(236, 236, 236, 1);
        background-color: #ffffff;
      }

    .navigation {
        display: flex;
        align-items: center;
    }  

    .navigation__list {
        display: flex;
        margin-left: auto;
    }

    .navigation__item:not(:last-child) {
        margin-right: 50px;
    }

    .navigation__item .current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -32px;
        background: #2196F3;
        border-radius: 2px;
    }

    .navigation__studio-link {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        cursor: pointer;
        transition: color 250ms 
             cubic-bezier(0.4, 0, 0.2, 1);
        position: relative; 
    
        &:hover,
        &:focus {
           color: var(--accent-color);
       }
       .list &.current {
           color: var(--accent-color);
       }
    }

    .navigation__link {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;    
        transition: color 250ms 
             cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;     
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .information__list {
        display: flex;
        align-items: flex-start;
        margin-left: auto;
        flex-direction: column;
    }

    .information__item:not(:last-child) {
        margin-bottom:  10px;
    }
    
    .information__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms 
             cubic-bezier(0.4, 0, 0.2, 1);
    
        
        &:hover,
        &:focus {
            color:#2196F3;
        }     
    }
    
    .information__icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
        fill: currentColor;
    } 
}

@media screen and (min-width: 1200px) {
    
    .header {
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px;
        color: #ECECEC;
    }
    
    .header .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navigation {
        display: flex;
    }
    
    .navigation__list {
        display: flex;
        align-items: center;
    }
    
    .navigation__item:not(:last-child) {
        margin-right: 50px;
    }
    
    .navigation__item .current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -38px;
        background: #2196F3;
        border-radius: 2px;
    }
    
    .navigation__studio-link {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        cursor: pointer;
        transition: color 250ms 
             cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;     
    
        &:hover,
        &:focus {
           color: var(--accent-color);
       }
       
        .list &.current {
            color: var(--accent-color);
        }
    }
    
    .navigation__link {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;    
        transition: color 250ms 
             cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;     
    
        
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    .information__list {
        display: flex;
        align-items: center;
        margin-left: auto;
        flex-direction: row;
    }
    
    .information__item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0px;
    }
    
    .information__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms 
             cubic-bezier(0.4, 0, 0.2, 1);
    
        
        &:hover,
        &:focus {
            color:#2196F3;
        }     
    }
    
    .information__icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
        fill: currentColor;
    }
}    

