.menu-nav {
    background-color: #ffffff;
    padding-top: 60px;
    margin: 0 auto;
  }
  
  /* --- filter---*/
  .filters__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  
  .filters__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 8px;
  
    }
  }
  
  .filters__btn {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 6px 22px 6px 22px;
    transition-property: background-color, color, outline, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: #ffffff;
      outline: none;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(196, 172, 172, 0.12);
    }
  }
  
  .projects__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 60px;
  }
  
  .projects__item {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .projects__overlay-box {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .projects__overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 294px;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    pointer-events: none;
    color: #ffffff;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
    .projects__link:hover &,
    .projects__link:focus & {
      transform: translateY(-100%);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  .projects__box {
    padding: 20px 24px 20px 24px;
  }
  
  .projects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
  }
  
  .projects__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
  }

@media screen and (max-width: 767px) {
    .filters__item:nth-child(n + 4) {
      margin-bottom: 0;
    }
  
    .projects__item {
      flex-basis: calc(100% - 30px);
    }
}

@media screen and (min-width: 768px) {
    .filters__list {
      justify-content: center;
      margin-bottom: 30px;
    }
  
    .projects__item {
      flex-basis: calc(100% / 2 - 30px);
    }
}

@media screen and (min-width: 1200px) {
    .menu-nav {
      padding-top: 94px;
    }
  
    .filters__list {
      margin-bottom: 50px;
    }
  
    .projects__list {
      padding-bottom: 94px;
    }
  
    .projects__item {
      flex-basis: calc(100% / 3 - 30px);
    }
}


/*
.menu-nav {
    text-align: center;
}

.filters__list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
}

.filters__item {
    min-width: 73px;

    
   &:not(:last-child) {
       margin-right: 8px;
   }
}

.filters__btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    color: #212121;
    border: none;
    border-radius: 4px;
    background: #F5F4FA;
    transition: background-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: #fff;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }    
}

.projects__list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.projects__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    &:hover,
    &:focus {
       background: #FFFFFF;
       box-sizing: border-box;
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
       cursor: pointer;  
    }
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(-100%);
}

.projects__overlay {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    text-align: start;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;*/
    /*overflow: scroll;*/
  /*  transform: translateY(100%);
    transition: transform 250ms 
                cubic-bezier(0.4, 0, 0.2, 1);

        .projects__item:hover &,
         .projects__item:focus & {
            transform: translateY(0%);
        }        
}

.projects__overlay-box {
    position: relative;
    overflow: hidden;
}

.projects__box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.projects__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: start;
    color: #212121; 
}

.projects__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: start;
    color: #757575;    
}*/